<template>
    <lightning-card>
        <div class="slds-p-around_large">
            <div class="slds-grid slds-gutters ">
                <lightning-layout multiple-rows="true">
                    <template for:each={listOfFields} for:item="field">
                        <div key={field.name} class="slds-col slds-size_1-of-2">
                            <lightning-layout-item flexibility="auto" class="slds-p-around_large" size="3"
                                key={field.name}>
                                <div if:false={field.textArea}>
                                    <div if:false={field.url}>
                                        <lightning-input type={field.type} label={field.label} name={field.apiName}
                                            value={field.val} onchange={inputHandler} required={field.isRequired}
                                            checked={field.val} disabled={disabled}></lightning-input>
                                    </div>

                                    <div if:true={field.url}>
                                        <lightning-input type={field.type} label={field.label} name={field.apiName}
                                            value={field.val} onchange={inputHandler} required={field.isRequired}
                                            checked={field.val} disabled={disabled}></lightning-input>
                                    </div>
                                </div>
                                <div if:true={field.textArea}>
                                    <lightning-textarea label={field.label} name={field.apiName} onchange={inputHandler}
                                        required={field.isRequired} disabled={disabled}></lightning-textarea>
                                </div>
                            </lightning-layout-item>
                        </div>
                    </template>
                </lightning-layout>
            </div>
            <div class="slds-grid slds-gutters slds-align_absolute-center">
                <lightning-button label={buttonLabel} variant="brand" onclick={buttonHandler}></lightning-button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <lightning-button label="Cancel" variant="brand" onclick={resetHandler} disabled={disabled}>
                </lightning-button>
            </div>
        </div>
    </lightning-card>
</template>